{% extends "layout.html" %}
{% block content %}
  {% for restaurant in restaurants %}
    <article class="media content-section"></article>
          <div class="media-body">
            <!-- <div class="article-metadata">
              <a class="mr-2" href="#">{{ restaurant.dishes }}</a>
            </div> -->
            <h2><a class="article-title" href="#" onclick="enterMenu('{{restaurant.id}}')">{{ restaurant.username }}</a></h2>
            <p class="article-content">{{ restaurant.address }}</p>
          </div>
    </article>
    {% endfor %}
    <script>
      function enterMenu(restaurant_id){
        window.location.href = "/menu/" + restaurant_id;
      }
    </script>
{% endblock content %}
