{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Order History</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Restaurant</th>
                    <th>Dish</th>
                    <th>Quantity</th>
                    <th>Order Total</th>
                </tr>
            </thead>
            <tbody>
                {%print(transactions)%}
                {%for transaction in transactions %}
                    {% set orders = transaction.orders %}
                    {% for order in orders %}
                        {% if order.transaction.paid == True %}
                            {% set dish = order.dish %}
                            {% set restaurant = order.transaction.restaurant %}
                            {% set total = order.quantity * dish.price * (100 - order.transaction.discount) / 100 %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ restaurant.username}}</td>
                                <td>{{ dish.name }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ total }}</td>
                            </tr>  
                        {% endif %}
                    {% endfor %}
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock content %}
