{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      {% if current_user.image_file %}
      <img
        src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"
        class="rounded-circle account-img"
      />
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <div class="form-group">
        <h3>Username :: {{ current_user.username }}</h3>
      </div>
      <div class="form-group">
        <h3>Email :: {{ current_user.email }}</h3>
      </div>
      {% if current_user_type != 'restaurant' %}
      <div class="form-group">
        <h3>Location :: {{ current_user.location }}</h3>
      </div>
      {% endif %}
      <div class="form-group text-center">
        <a href="{{ url_for('update_account') }}" class="btn btn-outline-info">Update Account</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
