{% extends "layout.html" %}
{% block content %}
<h1 class="main-headings">All NGOs</h1>
<div class="container">
    {% for ngo in ngos %}
        <article class="media content-section card-format">
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + ngo.image) }}">
          <div class="media-body">
            <h2>{{ ngo.username }}</h2>
            <p class="article-content">{{ ngo.email }}</p>
            <p class="article-content">{{ ngo.address }}</p>
          </div>
        </article>
    {% endfor %}
</div>
{% endblock %}