{% extends "layout.html" %}
{% block content %}
<h1 class="main-headings">All Users</h1>
<div class="container">
    {% for user in users %}
        <article class="media content-section card-format">
          <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image) }}">
          <div class="media-body">
            <h2>{{ user.username }}</h2>
            <p class="article-content">{{ user.email }}</p>
            <p class="article-content">{{ user.address }}</p>
          </div>
        </article>
    {% endfor %}
</div>
{% endblock %}