{% extends "layout.html" %}
{% block content %}
    {% for ngo in ngos %}
        <article class="media content-section card-format" onclick="NGOpage('{{ngo.id}}')">
            <div class="media">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + ngo.image) }}">
              <div class="media-body">
                <a class="article-title" href="#" onclick="NGOpage('{{ngo.id}}')"><h2 class="account-heading">{{ngo.username}}</h2></a>
                <p class="text-secondary">{{ngo.email}}</p>
                <p class="text-secondary">{{ngo.address}}</p>
              </div>
            </div>
        </article>
    {% endfor %}
    <script> 
        function NGOpage(ngo_id){
          window.location.href = "/Donate/" + ngo_id;
        }
    </script>
{% endblock content %}
