{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Nearby Restaurants</h1>
    {% for restaurant in restaurants %}
    {% set distance = None %}
    {% if current_user.is_authenticated %}
        {% set distance = calculate_distance(restaurant.latitude, restaurant.longitude, current_user.latitude, current_user.longitude) %}
    {% endif %}
    {% if distance == None or distance < 10 %}
        <article class="media content-section">
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + restaurant.image) }}">
            <div class="media-body">
                <h2>
                    <a class="article-title" href="#" onclick="enterMenu('{{ restaurant.id }}')">
                        {{ restaurant.username }}
                        {% if restaurant.non_vegetarian %}
                            (Non-Veg)
                        {% else %}
                            (Veg)
                        {% endif %}
                    </a>
                </h2>
                <p class="article-content">{{ restaurant.address }}</p>
            </div>
        </article>
    {% endif %}
{% endfor %}

    
    <!-- Review Section -->
    <h2 class="my-4">Reviews</h2>
    <div class="review-container">
        {% for t in transactions %}
            {% if t.review %}
                <div class="review" style="display: {{ 'block' if loop.index == 1 else 'none' }}">
                    <article class="media content-section">
                        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + t.user.image) }}">
                        <div class="media-body">
                            <h2><a class="account-heading" href="#">{{t.user.username}}</a></h2>
                            <p class="text-secondary"> ordered from {{ t.restaurant.username }} on {{t.date.strftime('%B %d, %Y')}}</p>
                            <p class="text-secondary">{{ t.review }}</p>
                        </div>
                    </article>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    var reviewIndex = 0;
    var reviews = document.querySelectorAll('.review');

    function enterMenu(restaurant_id) {
        window.location.href = "/menu/" + restaurant_id;
    }

    function toggleReview() {
        reviews[reviewIndex].style.display = 'none';
        reviewIndex = (reviewIndex + 1) % reviews.length;
        reviews[reviewIndex].style.display = 'block';
    }

    setInterval(toggleReview, 5000);
</script>
{% endblock %}
