

{% extends 'layout.html' %}
{% block content %}
<h1>Order History</h1>
{% for i in range(size) %}
<div class="content-section">
    <h2><p class="article-title">{{ transactions[i].restaurant.username }}</p></h2>
    <h4><p class="article-content">Date: {{ transactions[i].date }}</p></h4>
    <table class="table">
        <thead>
            <tr>
                <th>Dish</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for order in setoforders[i] %}
            <tr>
                <td>{{ order.dish.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.dish.price * order.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4><p class="article-content">Total: {{ transactions[i].amount }}</p></h4>
    <h4><p class="article-content">Paid: {{ transactions[i].paid }}</p></h4>
</div>
{% endfor %}
{% endblock content %}