#navbarNav{
    justify-content: space-evenly;
    font-size: 1rem;
}
.nav-link{
    margin-left: 8rem;
    background-color: rgb(214,0,0);
    transition:all .5s;
} 
.nav-link:hover{
    background-color: black;
    color: white;
}
.container-fluid{
    background-color: rgb(214, 0, 0);
    height: 8rem;
}
.collapse .navbar-collapse{
    background-color: rgb(214, 0, 0);
}
.footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.footer-lst{
    list-style: none;
}
.footer-lnk{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
