{% extends "layout.html" %}
{% block content %}
    {% for donation in donations %}
      <article class="media content-section">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + donation.normal_user.image) }}">
        <div class="media-body">
            <h2><a class="account-heading" href="#">{{ donation.ngo_user.username }}</a></h2>
            <p class="text-secondary">₹{{ donation.amount }}</p>
            <p class="text-secondary">{{ donation.date }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}