{% extends "layout.html" %}
{% block content %}
<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('allRestaurants') }}'">All Restaurants</button><br><br>
<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('allUsers') }}'">All Users</button><br><br>
<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('allNgo') }}'">All NGOs</button><br><br>
<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('changetimewindow') }}'">Change Registration Window</button><br>
{% endblock %}